<div class="centrar">
    <div *ngIf="!usuario" #else Usuario>
        <h2>ESCRIBE EL NOMBRE QUE QUIERAS</h2>
        Usuario: <input [(ngModel)]="usuarioTextBox" type="string" placeholder="Usuario"/>*
        <p *ngIf="errorElegido" style="color:#FF0000;">
            Este nombre ya está elegido. Coge otro
        </p>
        <p *ngIf="errorNombre" style="color:#FF0000;">
            Debes escribir un nombre de usuario
        </p>
        <p>
            <input type="submit" value="OK" (click)="setUsuario()"/>
        </p>
    </div>
    
    <div *ngIf="usuario">
        <p>
            EL SERVIDOR SIEMPRE TE ENVIARÁ EL MENSAJE CON LA CLAVE SIMÉTRICA AES (EXCEPTO FIRMA CIEGA)
        </p>
        <p>
            PUEDES ELEGIR SI TÚ LE QUIERES ENVIAR EL MENSAJE CON LA CLAVE SIMÉTRICA AES O CON LA CLAVE PÚBLICA DEL SERVIDOR
        </p>
        <p>
            TAMBIÉN PUEDES ELEGIR SI QUIERES QUE TE FIRME EL MENSAJE SIN SABER LO QUE ESTÁ FIRMANDO (FIRMA CIEGA)
        </p>

        <h2>QUIERES CAMBIARTE EL NOMBRE ? Ahora eres {{usuario}}</h2>
        Usuario: <input [(ngModel)]="usuarioTextBox" type="string" placeholder="Usuario"/>
        <p *ngIf="errorNombre" style="color:#FF0000;">
            Debes escribir un nombre de usuario
        </p> 
        <p *ngIf="errorElegido" style="color:#FF0000;">
            Este nombre ya está elegido. Coge otro
        </p>   
        <p>
            <input type="submit" value="OK" (click)="setUsuario()"/>
        </p> 

        <h2>ALGORITMOS DE NO REPUDIO</h2>
        Usuarios Conectados: <select [(ngModel)]="usuarioNoRepudio">
            <option *ngFor="let usuarioNR of usuarios" [value]="usuarioNR.nombre">{{usuarioNR.nombre}}</option>
        </select>*
        <p *ngIf="errorUsuario" style="color:#FF0000;">
            Debes seleccionar un usuario
        </p>
        <h2>Envía un mensaje para probar el algoritmo</h2>
        Mensaje: <input [(ngModel)]="mensajeAlgoritmo" type="string" placeholder="Mensaje"/>*
        <p *ngIf="errorMensajeAlgoritmo" style="color:#FF0000;">
            Debes escribir un mensaje
        </p>
        <p>
            <input type="submit" value="Enviar" [disabled]="disabled" (click)="enviarNoRepudio()"/>
        </p>
        <div *ngIf="recibido">
        <p>
            ALGUIEN TE QUIERE ENVIAR UN MENSAJE
        </p>
        <input type="submit" value="Contestar" (click)="contestar()"/> 
        <input type="submit" value="Rechazar" (click)="rechazar()"/>
        </div>
        <p *ngIf="enviado">
            ESPERANDO RESPUESTA
        </p>
        <p *ngIf="contestado">
            HAN CONTESTADO
        </p>
        <p *ngIf="noContestado">
            NO HAN CONTESTADO
            <input type="submit" value="OK" (click)="aceptar()"/> 
        </p>
        <div *ngIf = "mensajesNoRepudio && mensajesNoRepudio.length > 0">
            MENSAJES
            <p *ngFor = "let mensaje of mensajesNoRepudio">
                {{mensaje.usuario}}: {{mensaje.mensaje}}
            </p>
        </div>
        <h2>CIFRADOS</h2>
        Tipo de cifrado: <select [(ngModel)]="cifrado">
            <option value="RSA">RSA</option>
            <option value="AES">AES</option>
            <option value="Firma Ciega">Firma Ciega</option>
        </select>*
        <p *ngIf="errorCifrado" style="color:#FF0000;">
            Debes seleccionar un tipo de cifrado
        </p>
        <h2>Envía un mensaje para probar el cifrado</h2>
        Mensaje: <input [(ngModel)]="mensaje" type="string" placeholder="Mensaje"/>*
        <p *ngIf="errorMensaje" style="color:#FF0000;">
            Debes escribir un mensaje
        </p>
        <p>
            <input type="submit" value="Enviar" (click)="enviar()"/>
        </p>
        <div *ngIf = "mensajes && mensajes.length > 0">
            MENSAJES
            <p *ngFor = "let mensaje of mensajes">
                {{mensaje.usuario}}: {{mensaje.mensaje}}
            </p>
        </div>
        <h2>VOTACIÓN</h2>
        Elige tu candidato (Máx. 99 votos): <select [(ngModel)]="candidato">
            <option value="1">Cristian</option>
            <option value="100">Micky</option>
            <option value="10000">Kike</option>
        </select>*
        <p *ngIf="errorVoto" style="color:#FF0000;">
            Debes elegir un candidato
        </p>
        <p *ngIf="errorMax" style="color:#FF0000;">
            Ya han votado todos
        </p>
        <p>
            <input type="submit" value="Votar" (click)="votar()" [disabled]="votado"/>
        </p>
        <div *ngIf="votado">
            <p>
                Cristian: {{votosCristian}}
            </p>
            <p>
                Micky: {{votosMicky}}
            </p>
            <p>
                Kike: {{votosKike}}
            </p>
        </div>
    </div>
</div>